torch
torchaudio
torchvision

datasets
transformers
evaluate
sacrebleu
tokenizers
huggingface-hub

transformer_lens
circuitsvis

ipykernel
ipython
ipywidgets
jsonschema
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab_widgets

matplotlib
matplotlib-inline
plotly

nltk
tqdm
experimaestro