click
datasets
transformers
transformer_lens
huggingface-hub
ipykernel
ipython
ipywidgets
jsonschema
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab_widgets
matplotlib-inline
nltk
tokenizers
torch
torchaudio
torchvision
tqdm